<div class="d-block p-2 mt-4">
    <h1 class="display-4">
        Example Page
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <hr class="mt-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio enim inventore est laudantium deleniti eum iusto reprehenderit, dolor facere hic corporis laboriosam tempore ea nisi at. Rem suscipit autem aspernatur.</p>
    <a href="https://fazteb.com" class="btn btn-primary btn-lg">github</a>
</div>