<footer class="bg-dark mt-5 p-4 text-white text-center
">
    <div class="container">
        <p>&copy; 2024 Luferyno.</p>
        <p>
            <a href="#" class="text-white">Privacy Policy</a> |
            <a href="#" class="text-white">Terms of Service</a> |
            <a href="#" class="text-white">Contact</a>
        </p>
        <p>
            <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
        </p>
    </div>
</footer>